App_WebReferences/MOCA/UserCredentials.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicios.ceniss.gob.hn/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicios.ceniss.gob.hn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicios.ceniss.gob.hn/">
      <s:element name="BuildMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAppToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildMenuResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuOptionsByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuOptionsByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuOptionsByUserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPageAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pPageNumber" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="pAppToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPageAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckPageAccessResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckActionAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pRoleOptionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pAction" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckActionAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckActionAccessResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntrepricesAssigedToUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntrepricesAssigedToUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntrepricesAssigedToUserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBranchOfficesAssigedToUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBranchOfficesAssigedToUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBranchOfficesAssigedToUserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuildMenuSoapIn">
    <wsdl:part name="parameters" element="tns:BuildMenu" />
  </wsdl:message>
  <wsdl:message name="BuildMenuSoapOut">
    <wsdl:part name="parameters" element="tns:BuildMenuResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuOptionsByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuOptionsByUser" />
  </wsdl:message>
  <wsdl:message name="GetMenuOptionsByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuOptionsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPageAccessSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPageAccess" />
  </wsdl:message>
  <wsdl:message name="CheckPageAccessSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPageAccessResponse" />
  </wsdl:message>
  <wsdl:message name="CheckActionAccessSoapIn">
    <wsdl:part name="parameters" element="tns:CheckActionAccess" />
  </wsdl:message>
  <wsdl:message name="CheckActionAccessSoapOut">
    <wsdl:part name="parameters" element="tns:CheckActionAccessResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntrepricesAssigedToUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntrepricesAssigedToUser" />
  </wsdl:message>
  <wsdl:message name="GetEntrepricesAssigedToUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntrepricesAssigedToUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetBranchOfficesAssigedToUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetBranchOfficesAssigedToUser" />
  </wsdl:message>
  <wsdl:message name="GetBranchOfficesAssigedToUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetBranchOfficesAssigedToUserResponse" />
  </wsdl:message>
  <wsdl:portType name="Security_x0020_CredentialsSoap">
    <wsdl:operation name="BuildMenu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Brinda la información de los diferentes accesos que tiene asignado el usuario para la contrucción del menu del modulo</wsdl:documentation>
      <wsdl:input message="tns:BuildMenuSoapIn" />
      <wsdl:output message="tns:BuildMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuOptionsByUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Opciones de menu asignadas a un usuario</wsdl:documentation>
      <wsdl:input message="tns:GetMenuOptionsByUserSoapIn" />
      <wsdl:output message="tns:GetMenuOptionsByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPageAccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifica si el usuario tiene acceso a la pagina solicitada</wsdl:documentation>
      <wsdl:input message="tns:CheckPageAccessSoapIn" />
      <wsdl:output message="tns:CheckPageAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckActionAccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifica si el usuario tiene la acción solicitada</wsdl:documentation>
      <wsdl:input message="tns:CheckActionAccessSoapIn" />
      <wsdl:output message="tns:CheckActionAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntrepricesAssigedToUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la Lista de Entidades Asignadas a un Usuario</wsdl:documentation>
      <wsdl:input message="tns:GetEntrepricesAssigedToUserSoapIn" />
      <wsdl:output message="tns:GetEntrepricesAssigedToUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBranchOfficesAssigedToUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la Lista de Unidades Ejecutoras Asignadas a un Usuario</wsdl:documentation>
      <wsdl:input message="tns:GetBranchOfficesAssigedToUserSoapIn" />
      <wsdl:output message="tns:GetBranchOfficesAssigedToUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Security_x0020_CredentialsSoap" type="tns:Security_x0020_CredentialsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuildMenu">
      <soap:operation soapAction="http://servicios.ceniss.gob.hn/BuildMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuOptionsByUser">
      <soap:operation soapAction="http://servicios.ceniss.gob.hn/GetMenuOptionsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPageAccess">
      <soap:operation soapAction="http://servicios.ceniss.gob.hn/CheckPageAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckActionAccess">
      <soap:operation soapAction="http://servicios.ceniss.gob.hn/CheckActionAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntrepricesAssigedToUser">
      <soap:operation soapAction="http://servicios.ceniss.gob.hn/GetEntrepricesAssigedToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchOfficesAssigedToUser">
      <soap:operation soapAction="http://servicios.ceniss.gob.hn/GetBranchOfficesAssigedToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Security_x0020_CredentialsSoap12" type="tns:Security_x0020_CredentialsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuildMenu">
      <soap12:operation soapAction="http://servicios.ceniss.gob.hn/BuildMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuOptionsByUser">
      <soap12:operation soapAction="http://servicios.ceniss.gob.hn/GetMenuOptionsByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPageAccess">
      <soap12:operation soapAction="http://servicios.ceniss.gob.hn/CheckPageAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckActionAccess">
      <soap12:operation soapAction="http://servicios.ceniss.gob.hn/CheckActionAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntrepricesAssigedToUser">
      <soap12:operation soapAction="http://servicios.ceniss.gob.hn/GetEntrepricesAssigedToUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchOfficesAssigedToUser">
      <soap12:operation soapAction="http://servicios.ceniss.gob.hn/GetBranchOfficesAssigedToUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Security_x0020_Credentials">
    <wsdl:port name="Security_x0020_CredentialsSoap" binding="tns:Security_x0020_CredentialsSoap">
      <soap:address location="http://apps.desarrollosocial.gob.hn/MOCA/ws/UserCredentials.asmx" />
    </wsdl:port>
    <wsdl:port name="Security_x0020_CredentialsSoap12" binding="tns:Security_x0020_CredentialsSoap12">
      <soap12:address location="http://apps.desarrollosocial.gob.hn/MOCA/ws/UserCredentials.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>